

.input{
  width: 80%;
  border-radius: 10px;
  font-size: 1.2rem;
  
}


.space2{
  margin-top: 20%;
}






.App{
background-color: lightgray;
height: 100vh;
max-width: 100%;
}

button:hover{
  cursor: pointer;
}


.loading{
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin-top: 30%;
  color: white;
}
.footer{
  border-radius: 5px;
  font-weight: bold;
  font-size:2.5rem;
  text-align:center;
 
  color: #60b2ff;
  background-color: #242121;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}